body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.main-wrapper {
  margin: 0 auto;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.player {
  font-size: 30px;
}

.status {
  margin-bottom: 10px;
  font-size: 30px;
}

.square {
  background: #fff;
  border: 1px solid black;
  float: left;
  font-size: 70px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.restartButton {
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin-bottom: 15px;
}

.playerSelect {
  font-size: 30px;
}
.choosePlayer {
  padding: 5px 10px 5px 10px;
  margin-left: 5px;
}